In [1]:
from nordpool import elspot, elbas
import datetime
import pandas as pd

In [33]:
def Date_Capture(area):    
    prices_spot = elspot.Prices()
    begin_day=datetime.datetime(2019,1,1)
    end_date=datetime.datetime.now()
    Prices=[]
    while begin_day<end_date:
        Prices.extend(prices_spot.daily(end_date=end_date,areas=[area])['areas'][area]['values'])
        end_date=end_date-datetime.timedelta(days=31)

    price={}
    for n,i in enumerate(Prices):
        price[Prices[n]['end']]=Prices[n]['value']

    Price=pd.DataFrame.from_dict(price, orient='index').reset_index()
    Price.columns=['Date',area]

    Price['Date']=[datetime.datetime.strptime(str(time.replace(tzinfo=None)),'%Y-%m-%d %H:%M:%S').strftime('%Y-%m-%d') for time in Price['Date']]

    Price=Price.sort_values(by = "Date",ascending=True).reset_index(drop=True).set_index('Date')
    return Price

In [34]:
SE1=Date_Capture('SE1')
SE2=Date_Capture('SE2')
SE3=Date_Capture('SE3')
SE4=Date_Capture('SE4')

In [35]:
df=pd.concat([SE1,SE2['SE2'],SE3['SE3'],SE4['SE4']],axis=1)

In [36]:
df

              SE1    SE2     SE3     SE4
Date
2021-01-01  26.17  26.17   26.17   36.24
2021-01-02  31.58  31.58   31.58   43.17
2021-01-03  25.78  25.78   25.78   27.31
2021-01-04  42.17  42.17   42.17   43.88
2021-01-05  47.29  47.29   47.29   47.29
...           ...    ...     ...     ...
2022-06-18   9.37   9.37    9.37    9.37
2022-06-19  15.57  15.57   17.81   17.81
2022-06-20  36.68  36.68  217.97  221.65
2022-06-21  37.71  37.71  179.99  214.95
2022-06-22  50.52  50.52  162.88  214.56

[538 rows x 4 columns]